.product_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_Detail {
  width: 80%;
  height: 0 auto;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}
#product_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#product_li{
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 2px 2px 2px 2px rgb(217, 217, 217);
  border-radius: 20px;
  margin: 20px;
  width: 270px;
  height: 400px;
}
#product_li > img {
  border-radius: 20px;
  width: 230px;
  margin:15px;
}